<!DOCTYPE html>
{% load static %}
<html lang="fr" dir="ltr">
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/blogRepet.css' %}">
  <meta charset="utf-8">
  <title>Premier DjangoGirls</title>
</head>
<body>
  <div class="page-header"><h2><a href="/">Go Django girls, go!</a></h2></div>
  <div class="solid">Cet article n’est pas scientifique, mais si vous suivez ce qui se passe dans le monde,<br>
    je n’ai pas besoin de démontrer mon point de vue pour me faire comprendre.</div>

<div class="content container">
  <div class="row">
    <div class="col-md-8">
      {% for post in posts %}
      <div class="post">
      <div class="date">
        <p>published: {{ post.published_date }}</p>
      </div>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
    </div>

  </div>

</div>


</body>
</html>
